.hero {
    height: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.heroContainer {
    width: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40rem;
}

.content > p {
    margin: 0;
    line-height: 1.3rem;
    font-weight: 400;
    display: block;
    font-size: 1.1rem;
    color: var(--ifm-color-gray-800);
}

[data-theme="dark"] .content > p {
    color: var(--ifm-color-gray-400);
}

.content :global(.button)  {
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.content :global(.button .icon){
    width: 1.8rem;
    height: 1.8rem;
}

.content :global(.button .icon.left){
    margin-right: 0.5rem;
}

.content :global(.button .icon.right){
    margin-left: 0.5rem;
}

.content :global(.wrapButton_HeroBanner){
    padding-top: 4rem;
}







